
.header{
    background-color: white;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-color:rgb(240, 220, 220);
    border-bottom-style: solid;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    margin-bottom: 20px;
}

.left-section{
    width: 250px;
    display: flex;
    align-items: center;
}
.logo{
    width: 90px;
    height: 20px;
}
.burger{
    width: 24px;
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.search-bar{
    flex: 1;
    height: 35px;
    padding-left: 10px;
    font-size: 17px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(185, 170, 170);
    border-radius: 2px;
    box-shadow: inset 1px, 2px, 3px, rgba(0, 0, 0, 0.15);
    width: 0;
    max-width: 300px;
    margin-left: 100px;
}
.search-icon{
    width: 35px;
    height: 35px;
    border-radius: 20px;
    border: none;
}

.search-button{
    height: 40px;
    width: 66px;
    background-color: white;
    border-left: none;
    border-style: solid;
    border-color: rgb(216, 210, 210);
    margin-left: -1px;
    margin-right: 8px;
    transition: 0.25s;
}
.search-button:active{
    opacity: 0.2;
}
.middle-section{
    flex: 1;
    margin-left: 25px;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.voice-icon{
    height: 24;
    margin-top: 4px;
}
.voice-button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 25px;
}
.voice-button:active{
    background-color: rgb(240, 224, 224);
}

.right-section{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.upload-icon{
    width: 24px;
    height: 25px;
}
.youtube-apps{
    width: 25px;
    height: 25px;
}
.notifications{
    width: 25px;
    height: 25px;
}
.ping{
    position: relative;
}
.ping-number{
    position: absolute;
    background-color: red;
    color: white;
    right: -4px;
    bottom: 15px;
    font-family: Arial;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
}
.my-dp{
    width: 30px;
    height: 25px;
    border-radius: 5px;
}
.search-button, .voice-button, .upload-icon, .youtube-apps, .notifications, .my-dp:hover{
    cursor: pointer;
}